<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/integration"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/integration
        http://www.springframework.org/schema/integration/spring-integration.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <gateway id="csvGateway"
             service-interface="com.yodel.integration.services.CsvReader"
             default-request-channel="csvRecordChannel"/>

    <channel id="csvRecordChannel"/>

    <service-activator input-channel="csvRecordChannel"
                       ref="csvReaderService"
                       method="toList"/>

    <beans:bean id="csvReaderService"
                class="com.yodel.integration.services.StringCsvReader"/>

    <context:component-scan base-package="com.yodel.integration"/>
</beans:beans>